<h1>This is the landing page</h1>

<!-- <div class="bg"></div>
<div class="clock">
  <figure class="hour-ten">
    <% (0..1).each do |i| %>
      <span val="<%= 1 - i %>"></span>
    <% end %>
    <% (1..2).each do |i| %>
      <span val="0"></span>
    <% end %>
  </figure>
  <figure class="hour">
    <% (1..9).each do |i| %>
      <span val="<%= i %>"></span>
    <% end %>
    <% (0..2).each do |i| %>
      <span val="<%= i %>"></span>
    <% end %>
  </figure>
  <figure class="min">
    <% (0..9).each do |i| %>
      <span val="<%= i %>"></span>
    <% end %>
  </figure>
  <figure class="min-ten">
    <% (0..5).each do |i| %>
      <span val="<%= 5 - i %>"></span>
    <% end %>
  </figure>
  <figure class="sec">
    <% (0..9).each do |i| %>
      <span val="<%= i %>"></span>
    <% end %>
  </figure>
  <figure class="sec-ten">
    <% (0..5).each do |i| %>
      <span val="<%= 5 - i %>"></span>
    <% end %>
  </figure>
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/111863/clock-mask.svg"/>
</div> -->
