<h1>This is the landing page</h1>



<figure class="watch">
  <!-- <div class="strap">
    <div class="knob"></div>
  </div> -->
  <div class="edge">
    <div class="gear one"></div>
    <div class="gear two"></div>
    <div class="gear2 three"></div>
    <div class="gear four"></div>
    <div class="gear2 five"></div>

    <div class="mhand"></div>
    <div class="lhand"></div>
    <div class="dot"></div>

    <!-- <div class="face">
      <p>2 new notifications</p>
      <div class="dots">..</div>
    </div> -->
  </div>

</figure>

<div>
  <p>Coming soon, watch this space.....</p>
</div>
