<!DOCTYPE html>
<html ng-app="storeApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>ItemApp</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <div class="navbar-header"> -->
      <a class="navbar-brand" ui-sref="home">Online Marketplace app</a>
      <!-- </div> -->
    </div>
    <div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="main.user">
          <p class="navbar-text">Welcome, {{ main.user.email }}</p>
        </li>
        <li ng-hide="main.user">
          <a ui-sref="register">Register</a>
        </li>
        <li ng-hide="main.user">
          <a ui-sref="login">Login</a>
        </li>
        <li>
          <a ui-sref="itemsIndex">View Items</a>
        </li>
        <li ng-show="main.user">
          <a ng-click="main.logout()">Logout</a>
        </li>
      </ul>
    </div>

  </nav>
  <main ui-view></main>
</body>
</html>
