.row-element {
  margin-top: 20px;

  .item-card {

    padding-bottom: 20px;
    box-shadow: 0 10px 6px -6px #777;

    .img-wrapper {
      min-height: 300px;
      max-height: 300px;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        overflow: hidden;
        cursor: pointer;
      }
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }

    .img-responsive {
      margin: 20px auto;
    }

  }
}// Import all of your scss files here

.page-title {
  // color: antiquewhite;
  text-align: center;
}
.button-row {
  margin-bottom: 20px;
}


.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


// angular material tabs style
// .md-tabs-centered-wrapper{
//   display:flex;
//   justify-content:center;
//   height:4.8rem;
  // margin:auto;
  // md-tabs[md-stretch-tabs]{
  //   max-width:50% !important; /* or any */
  // }
  // 
  // body {
  //   background: red;  /* Old browsers - this colo--rgb(238,238,238); */
  //   // background: linear-gradient(red, green);
  //
  //   background: -moz-linear-gradient(-45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  //   background: -webkit-linear-gradient(-45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  //   // background: linear-gradient(135deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9
  // }

// } /* md-tabs-centered-wrapper */
// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
// background: rgb(238,238,238); /* Old browsers */
// background: -moz-linear-gradient(-45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(-45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(135deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
